</div>
        <!-- /Page Wrapper -->
        
    </div>
    <!-- /Main Wrapper -->
    
    <!-- jQuery -->
    <script src="/assets/js/jquery-3.7.1.min.js"></script>
    
    <!-- Bootstrap Core JS -->
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    
    <!-- Slimscroll JS -->
    <script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Select2 JS -->
    <script src="/assets/plugins/select2/js/select2.min.js"></script>

    <!-- Daterangepicker JS -->
    <script src="/assets/plugins/daterangepicker/daterangepicker.js"></script>

    <!-- Iconsax JS -->
    <script src="/assets/js/iconsax.js"></script>

    <!-- Counter JS -->
    <script src="/assets/plugins/counter/jquery.waypoints.min.js"></script>
    <script src="/assets/plugins/counter/jquery.counterup.min.js"></script>

    <!-- Sticky Kit JS -->
    <script src="/assets/plugins/sticky-kit/sticky-kit.min.js"></script>

    <!-- Theme Settings JS -->
    <script src="/assets/js/theme-settings.js"></script>
    
    <!-- Custom JS -->
    <script src="/assets/js/script.js"></script>
</body>
</html>