<!-- Banner Carousel Section -->
<section class="banner-carousel-section">
    <div id="bannerCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
        <!-- Carousel Indicators -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <!-- Carousel Inner -->
        <div class="carousel-inner">
            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="banner-section-four d-flex align-items-center">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-12" data-aos="fade-up">
                                <div class="home-slide-face">
                                    <div class="banner-content">
                                        <h6>Sekolah Islam Terpadu</h6>
                                        <h1>Pendidikan Berkualitas dengan Nilai-nilai Islam</h1>
                                        <p>Membentuk generasi yang unggul dalam ilmu pengetahuan dan berakhlak mulia sesuai dengan nilai-nilai Al-Qur'an dan Sunnah.</p>
                                    </div>
                                    <div class="banner-form">
                                        <form class="form" name="store" id="store" method="get" action="/beritaterbaru">
                                            <div class="form-inner1">
                                                <div class="input-group">
                                                    <span class="drop-detail">
                                                        <select class="form-control select" name="kategori">
                                                            <option value="0">Pilih Jenjang</option>
                                                            <option value="1">PGIT-TKIT</option>
                                                            <option value="2">SDIT</option>
                                                            <option value="3">SMPIT</option>
                                                            <option value="4">SMAIT</option>
                                                            <option value="5">SLBIT</option>
                                                        </select>
                                                    </span>
                                                    <input type="text" class="form-control" placeholder="Cari Informasi Sekolah">
                                                    <button class="btn btn-secondary sub-btn1" type="submit"><i class="fa-solid fa-magnifying-glass me-2"></i>Cari</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="trust-user">
                                        <p>Dipercaya oleh masyarakat Lampung sejak 2010</p>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <span>Akreditasi A</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="banner-image">
                                    <div class="row position-relative">
                                        <div class="logo-cover">
                                            <img src="assets/img/icons/icon-30.svg" alt="img" class="img-fluid img-05 d-none d-xl-flex aos" data-aos="zoom-in">
                                        </div>
                                        <div class="col-md-6 d-flex">
                                            <div class="flex-fill">
                                                <img src="assets/img/hero/hero-3.jpg" alt="img" class="img-fluid h-100 flex-fill img-01 aos" data-aos="fade-bottom">
                                            </div>
                                        </div>
                                        <div class="col-md-6 d-flex flex-column">
                                            <div class="flex-fill mb-3">
                                                <img src="assets/img/hero/hero-4.jpg" alt="img" class="img-fluid img-02 aos" data-aos="fade-down">
                                            </div>
                                            <div class="flex-fill">
                                                <img src="assets/img/hero/hero-5.jpg" alt="img" class="img-fluid img-03 aos" data-aos="fade-up">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Shapes -->
                        <div class="shapes">
                            <img class="shapes-one" src="assets/img/bg/bg-10.png" alt="Img">
                            <img class="shapes-two" src="assets/img/bg/bg-11.png" alt="Img">
                            <img class="shapes-middle" src="assets/img/bg/bg-12.png" alt="Img">
                        </div>
                        <!-- /Shapes -->
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item">
                <div class="banner-section-four d-flex align-items-center">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-12" data-aos="fade-up">
                                <div class="home-slide-face">
                                    <div class="banner-content">
                                        <h6>Pendidikan Islam Terpadu</h6>
                                        <h1>Membentuk Generasi Qurani yang Berakhlak Mulia</h1>
                                        <p>Baitul Jannah Islamic School mengintegrasikan kurikulum nasional dengan nilai-nilai Islam untuk membentuk karakter siswa yang unggul.</p>
                                    </div>
                                    <div class="banner-form">
                                        <form class="form" name="store2" method="get" action="/syaratpendaftaran">
                                            <div class="form-inner1">
                                                <div class="input-group">
                                                    <span class="drop-detail">
                                                        <select class="form-control select" name="program">
                                                            <option value="0">Pilih Program</option>
                                                            <option value="1">PGIT-TKIT</option>
                                                            <option value="2">SDIT</option>
                                                            <option value="3">SMPIT</option>
                                                            <option value="4">SMAIT</option>
                                                            <option value="5">SLBIT</option>
                                                        </select>
                                                    </span>
                                                    <input type="text" class="form-control" placeholder="Cari Informasi Pendaftaran">
                                                    <button class="btn btn-secondary sub-btn1" type="submit"><i class="fa-solid fa-magnifying-glass me-2"></i>Cari</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="trust-user">
                                        <p>Sekolah Para Juara - Prestasi Terbaik sejak 2020</p>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <span>4.8 / 150 Testimoni</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="banner-image">
                                    <div class="row position-relative">
                                        <div class="logo-cover">
                                            <img src="assets/img/icons/icon-30.svg" alt="img" class="img-fluid img-05 d-none d-xl-flex aos" data-aos="zoom-in">
                                        </div>
                                        <div class="col-md-6 d-flex">
                                            <div class="flex-fill">
                                                <img src="assets/img/course/course-01.jpg" alt="img" class="img-fluid h-100 flex-fill img-01 aos" data-aos="fade-bottom">
                                            </div>
                                        </div>
                                        <div class="col-md-6 d-flex flex-column">
                                            <div class="flex-fill mb-3">
                                                <img src="assets/img/course/course-02.jpg" alt="img" class="img-fluid img-02 aos" data-aos="fade-down">
                                            </div>
                                            <div class="flex-fill">
                                                <img src="assets/img/course/course-03.jpg" alt="img" class="img-fluid img-03 aos" data-aos="fade-up">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Shapes -->
                        <div class="shapes">
                            <img class="shapes-one" src="assets/img/bg/bg-10.png" alt="Img">
                            <img class="shapes-two" src="assets/img/bg/bg-11.png" alt="Img">
                            <img class="shapes-middle" src="assets/img/bg/bg-12.png" alt="Img">
                        </div>
                        <!-- /Shapes -->
                    </div>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item">
                <div class="banner-section-four d-flex align-items-center">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-12" data-aos="fade-up">
                                <div class="home-slide-face">
                                    <div class="banner-content">
                                        <h6>Fasilitas Modern & Lengkap</h6>
                                        <h1>Lingkungan Belajar yang Nyaman dan Kondusif</h1>
                                        <p>Dilengkapi dengan fasilitas modern, laboratorium komputer, perpustakaan digital, dan area bermain yang aman untuk mendukung proses pembelajaran optimal.</p>
                                    </div>
                                    <div class="banner-form">
                                        <form class="form" name="store3" method="get" action="/kontak">
                                            <div class="form-inner1">
                                                <div class="input-group">
                                                    <span class="drop-detail">
                                                        <select class="form-control select" name="informasi">
                                                            <option value="0">Pilih Informasi</option>
                                                            <option value="1">Fasilitas</option>
                                                            <option value="2">Pendaftaran</option>
                                                            <option value="3">Biaya Pendidikan</option>
                                                            <option value="4">Kegiatan Ekstrakurikuler</option>
                                                            <option value="5">Program Unggulan</option>
                                                        </select>
                                                    </span>
                                                    <input type="text" class="form-control" placeholder="Cari Informasi Fasilitas">
                                                    <button class="btn btn-secondary sub-btn1" type="submit"><i class="fa-solid fa-magnifying-glass me-2"></i>Cari</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="trust-user">
                                        <p>Akreditasi A - Standar Nasional Pendidikan</p>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <span>5.0 / 100 Rating</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="banner-image">
                                    <div class="row position-relative">
                                        <div class="logo-cover">
                                            <img src="assets/img/icons/icon-30.svg" alt="img" class="img-fluid img-05 d-none d-xl-flex aos" data-aos="zoom-in">
                                        </div>
                                        <div class="col-md-6 d-flex">
                                            <div class="flex-fill">
                                                <img src="assets/img/gallery/gallery-5.jpg" alt="img" class="img-fluid h-100 flex-fill img-01 aos" data-aos="fade-bottom">
                                            </div>
                                        </div>
                                        <div class="col-md-6 d-flex flex-column">
                                            <div class="flex-fill mb-3">
                                                <img src="assets/img/gallery/gallery-5.jpg" alt="img" class="img-fluid img-02 aos" data-aos="fade-down">
                                            </div>
                                            <div class="flex-fill">
                                                <img src="assets/img/gallery/gallery-5.jpg" alt="img" class="img-fluid img-03 aos" data-aos="fade-up">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Shapes -->
                        <div class="shapes">
                            <img class="shapes-one" src="assets/img/bg/bg-10.png" alt="Img">
                            <img class="shapes-two" src="assets/img/bg/bg-11.png" alt="Img">
                            <img class="shapes-middle" src="assets/img/bg/bg-12.png" alt="Img">
                        </div>
                        <!-- /Shapes -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Carousel Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<!-- /Banner Carousel Section -->
<!-- /Home Banner -->

<!-- Vision Section -->
<div class="vision-section">
    <div class="container">
        <div class="row row-gap-4">
            <div class="col-xl-3 col-lg-6 d-flex">
                <div class="vision-item d-flex flex-column justify-content-between text-center p-3 w-100 border rounded">
                    <div>
                        <span class="vision-icon border d-inline-block mb-3" style="background-color: #ffffff; padding-top: 10px;">
                            <img src="assets/img/icon/book.svg" alt="dauroh quran">
                        </span>
                        <p>Dauroh Qur'an</p>
                    </div>
                    <a href="/daurohquran" class="btn btn-primary mt-3">Selengkapnya</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 d-flex">
                <div class="vision-item d-flex flex-column justify-content-between text-center p-3 w-100 border rounded">
                    <div>
                        <span class="vision-icon border d-inline-block mb-3" style="background-color: #ffffff; padding-top: 10px;">
                            <img src="\assets\img\icon\user-tick.svg" alt="Dauroh">

                        </span>
                        <p>Student Project Assessment</p>
                    </div>
                    <a href="/studentproject" class="btn btn-primary mt-3">Selengkapnya</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 d-flex">
                <div class="vision-item d-flex flex-column justify-content-between text-center p-3 w-100 border rounded">
                    <div>
                        <span class="vision-icon border d-inline-block mb-3" style="background-color: #ffffff; padding-top: 10px;">
                            <img src="assets/img/icons/category-icon3.svg" alt="img">
                        </span>
                        <p>Ekstrakurikuler</p>
                    </div>
                    <a href="/ekstrakurikuler" class="btn btn-primary mt-3">Selengkapnya</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 d-flex">
                <div class="vision-item d-flex flex-column justify-content-between text-center p-3 w-100 border rounded">
                    <div>
                        <span class="vision-icon border d-inline-block mb-3" style="background-color: #ffffff; padding-top: 10px;">
                            <img src="assets/img/icon/graduation.svg" alt="alumni">
                        </span>
                        <p>Alumni</p>
                    </div>
                    <a href="/alumni" class="btn btn-primary mt-3">Selengkapnya</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- /Vision Section -->

<!-- About Section -->
<section class="about-section">
    <div class="container">
        <div class="row align-items-center row-gap-4">
            <div class="col-lg-7 wow fadeInLeft order-lg-1 order-xs-2 order-sm-2" data-aos="fade-up">
                <div class="section-header">
                    <span class="fw-medium text-secondary fs-18 fw-bold mb-2 d-inline-block">Belajar di Baitul Jannah Islamic School</span>
                    <h2 class="mb-0">Pendidikan Islam Terpadu dengan Kurikulum Modern</h2>
                </div>
                <div class="about-content">
                    <p>Baitul Jannah Islamic School menawarkan pendidikan berkualitas yang memadukan nilai-nilai Islam dengan kurikulum nasional. Kami mempersiapkan siswa untuk menjadi generasi Muslim yang berakhlak mulia, berwawasan luas, dan siap menghadapi tantangan global dengan tetap berpegang pada ajaran Islam.</p>
                    <div class="about-img">
                        <div class="row row-gap-4">
                            <div class="col-md-4">
                                <img src="assets/img/about/about-3.jpg" class="img-fluid" alt="img">
                            </div>
                            <div class="col-md-4">
                                <img src="assets/img/about/about-4.jpg" class="img-fluid" alt="img">
                            </div>
                            <div class="col-md-4">
                                <img src="assets/img/about/about-5.jpg" class="img-fluid" alt="img">
                            </div>
                        </div>
                    </div>
                    <a href="/tentangkami" class="btn btn-secondary btn-xl">Selengkapnya</a>
                </div>							
            </div>

            <div class="col-lg-5 order-lg-2 order-xs-1 order-sm-1">
                <div class="stylist-gallery">
                    <div class="row row-gap-4">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12" data-aos="fade-down">
                            <div class="about-image border count-one d-flex align-items-center justify-content-center flex-fill project-details">
                                <div class="about-count">
                                    <div class="course-img">
                                        <img src="assets/img/icons/count-one.svg" alt="Img">
                                    </div>
                                    <div class="count-content-three course-count ms-0">
                                        <h4><span class="counterUp">4</span></h4>
                                        <p class="mb-0">Jenjang Pendidikan</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12" data-aos="fade-down">
                            <div class="about-image border count-two d-flex align-items-center justify-content-center flex-fill project-details">
                                <div class="about-count">
                                    <div class="course-img">
                                        <img src="assets/img/icons/count-two.svg" alt="Img">
                                    </div>
                                    <div class="count-content-three course-count ms-0">
                                        <h4><span class="counterUp">50</span>+</h4>
                                        <p class="mb-0">Guru Profesional</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12"  data-aos="fade-bottm" data-wow-delay="1.5">
                            <div class="about-image border count-three d-flex align-items-center justify-content-center flex-fill project-details">
                                <div class="about-count">
                                    <div class="course-img">
                                        <img src="assets/img/icons/count-three.svg" alt="Img">
                                    </div>
                                    <div class="count-content-three course-count ms-0">
                                        <h4><span class="counterUp">15</span>+</h4>
                                        <p class="mb-0">Program Unggulan</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12" data-aos="fade-top" data-wow-delay="0.5">
                            <div class="about-image border count-four d-flex align-items-center justify-content-center flex-fill project-details">
                                <div class="about-count">
                                    <div class="course-img">
                                        <img src="assets/img/icons/count-four.svg" alt="Img">
                                    </div>
                                    <div class="count-content-three course-count ms-0">
                                        <h4><span class="counterUp">500</span>+</h4>
                                        <p class="mb-0">Siswa Aktif</p> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>									
                    <div class="about-bg">
                        <img src="assets/img/bg/bg-8.png" alt="img" class="about-02">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-bg">
        <img src="assets/img/bg/bg-7.png" alt="img" class="about-01">						
        <img src="assets/img/bg/bg-9.png" alt="img" class="about-03">
    </div>
</section>
<!-- /About us -->

<!-- Top Categories -->
<section class="topcategory-sec">
    <div class="container">
        <div class="section-header text-center">
            <span class="fw-medium text-secondary fs-18 fw-bold mb-2 d-inline-block">Program Unggulan</span>
            <h2>Jenjang Pendidikan</h2>
            <p>Temukan jenjang pendidikan yang kami tawarkan untuk putra-putri Anda</p>
        </div>
        <div class="row">
                
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 d-flex" data-aos="fade-down">
                <div class="categories-item categories-item-four flex-fill">
                    <div class="categories-icon">
                        <img src="assets/img/icons/category-1.svg" alt="PGIT-TKIT">
                    </div>
                    <h5 class="title"><a href="/pgit-tkit">PGIT-TKIT</a></h5>
                    <p>Usia 3-6 Tahun</p>
                </div>
            </div>
            
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 d-flex" data-aos="fade-down">
                <div class="categories-item categories-item-four flex-fill">
                    <div class="categories-icon">
                        <img src="assets/img/icons/category-9.svg" alt="SDIT">
                    </div>
                    <h5 class="title"><a href="/sdit">SDIT</a></h5>
                    <p>Sekolah Dasar Islam Terpadu</p>
                </div>
            </div>						
            
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 d-flex" data-aos="fade-down">
                <div class="categories-item categories-item-four flex-fill">
                    <div class="categories-icon">
                        <img src="assets/img/icons/category-icon10.svg" alt="SMPIT">
                    </div>
                    <h5 class="title"><a href="/smpit">SMPIT</a></h5>
                    <p>Sekolah Menengah Pertama Islam Terpadu</p>
                </div>
            </div>
            
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 d-flex" data-aos="fade-down">
                <div class="categories-item categories-item-four flex-fill">
                    <div class="categories-icon">
                        <img src="assets/img/icons/category-11.svg" alt="SMAIT">
                    </div>
                    <h5 class="title"><a href="/smait">SMAIT</a></h5>
                    <p>Sekolah Menengah Atas Islam Terpadu</p>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 d-flex" data-aos="fade-down">
                <div class="categories-item categories-item-four flex-fill">
                    <div class="categories-icon">
                        <img src="assets/img/icons/category-5.svg" alt="SLBIT">
                    </div>
                    <h5 class="title"><a href="/slbit">SLBIT</a></h5>
                    <p>Sekolah Luar Biasa Islam Terpadu</p>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 d-flex" data-aos="fade-down">
                <div class="categories-item categories-item-four flex-fill">
                    <div class="categories-icon">
                        <img src="assets/img/icons/category-6.svg" alt="Tahfidz Quran">
                    </div>
                    <h5 class="title"><a href="/tahfidzquran">Tahfidz Quran</a></h5>
                    <p>Program Menghafal Al-Quran</p>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 d-flex" data-aos="fade-down">
                <div class="categories-item categories-item-four flex-fill">
                    <div class="categories-icon">
                        <img src="assets/img/icons/category-7.svg" alt="Bahasa Arab">
                    </div>
                    <h5 class="title"><a href="/bahasaarab">Bahasa Arab</a></h5>
                    <p>Program Penguasaan Bahasa Arab</p>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 d-flex">
                <div class="categories-item categories-item-four flex-fill" data-aos="fade-up">
                    <div class="categories-icon">
                        <img src="assets/img/icons/category-8.svg" alt="Ekstrakurikuler">
                    </div>
                    <h5 class="title"><a href="/ekstrakurikuler">Ekstrakurikuler</a></h5>
                    <p>Program Pengembangan Bakat</p>
                </div>
            </div>	
        </div>				
        <!-- View all Category -->
        <div class="more-details text-center" data-aos="fade-down">
            <a href="/jenjangpendidikan" class="btn btn-secondary btn-xl">Lihat Semua Jenjang</a>
        </div>
        <!-- /View all Category -->
    </div>
</section>	
<!-- /Top Categories -->	

<!-- Feature Course -->		
<section class="featured-courses-sec">				
    <div class="patter-bg">
        <img class="patter-one" src="assets/img/bg/bg-13.png" alt="Img">
    </div>
    <div class="container">
        <div class="section-header text-center">
            <span class="fw-medium text-secondary fs-18 fw-bold mb-2 d-inline-block">Informasi Terbaru</span>
            <h2>Berita & Kegiatan</h2>
            <p>Ikuti perkembangan terbaru dari kegiatan dan prestasi Baitul Jannah Islamic School</p>
        </div>
        <div class="featured-courses-two">
            <div class="row">

                <!-- Featured Courses -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 d-flex" data-aos="fade-down">
                    <div class="course-item course-item-four mx-0">
                        <div class="course-img">
                            <a href="/beritaterbaru/penerimaan-siswa-baru">
                                <img class="img-fluid" alt="Penerimaan Siswa Baru" src="assets/img/course/course-10.jpg">
                            </a>
                            <div class="position-absolute start-0 top-0 d-flex align-items-start w-100 z-index-2 p-2">
                                <a href="javascript:void(0);" class="course-name">Pendaftaran</a>
                            </div>
                        </div>
                        <div class="course-content">	
                            <div class="rating">						
                                <i class="fa-regular fa-calendar me-2"></i>
                                <span>15 Mei 2024</span>
                            </div>										
                            <h3 class="title"><a href="/beritaterbaru/penerimaan-siswa-baru">Penerimaan Siswa Baru Tahun Ajaran 2024/2025</a></h3>
                            <div class="user-info">
                                <p class="user-name"><a href="/kepengurusan" class="link-info">Admin Sekolah</a></p>
                                <p class="course-level">Berita Penting</p>
                            </div>
                            <div class="course-info">
                                <p class="course-time"><i class="fa-solid fa-users me-2"></i>Semua Jenjang</p>
                                <a href="/beritaterbaru/penerimaan-siswa-baru" class="btn btn-primary">Selengkapnya</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Featured Courses -->

                <!-- Featured Courses -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 d-flex" data-aos="fade-down">
                    <div class="course-item course-item-four mx-0">
                        <div class="course-img">
                            <a href="/beritaterbaru/prestasi-olimpiade">
                                <img class="img-fluid" alt="Prestasi Olimpiade" src="assets/img/course/course-11.jpg">
                            </a>
                            <div class="position-absolute start-0 top-0 d-flex align-items-start w-100 z-index-2 p-2">
                                <a href="javascript:void(0);" class="course-name">Prestasi</a>
                            </div>
                        </div>
                        <div class="course-content">	
                            <div class="rating">						
                                <i class="fa-regular fa-calendar me-2"></i>
                                <span>10 Mei 2024</span>
                            </div>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <span class="ms-2">5.0 (22 Reviews)</span>
                            </div>												
                            <h3 class="title"><a href="/beritaterbaru/prestasi-olimpiade">Siswa SMAIT Raih Medali Emas Olimpiade Matematika Tingkat Nasional</a></h3>
                            <div class="user-info">
                                <p class="user-name"><a href="/kepengurusan"  class="link-info">Tim Prestasi</a></p>
                                <p class="course-level text-warning">Prestasi Unggulan</p>
                            </div>
                            <div class="course-info">
                                <p class="course-time"><i class="fa-solid fa-graduation-cap me-2"></i>SMAIT
                                </p>
                                <a href="/beritaterbaru/prestasi-olimpiade" class="btn btn-primary">Selengkapnya</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Featured Courses -->

                <!-- Featured Courses -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 d-flex" data-aos="fade-down">
                    <div class="course-item course-item-four mx-0">
                        <div class="course-img">
                            <a href="/beritaterbaru/kegiatan-ramadhan">
                                <img class="img-fluid" alt="Kegiatan Ramadhan" src="assets/img/course/course-12.jpg">
                            </a>
                            <div class="position-absolute start-0 top-0 d-flex align-items-start w-100 z-index-2 p-2">
                                <a href="javascript:void(0);" class="course-name">Kegiatan</a>
                            </div>
                        </div>
                        <div class="course-content">	
                            <div class="rating">						
                                <i class="fa-regular fa-calendar me-2"></i>
                                <span>5 Mei 2024</span>
                            </div>										
                            <h3 class="title"><a href="/beritaterbaru/kegiatan-ramadhan">Dokumentasi Kegiatan Ramadhan 1445 H di Baitul Jannah Islamic School</a></h3>
                            <div class="user-info">
                                <p class="user-name"><a href="/kepengurusan"  class="link-info">Tim Humas</a></p>
                                <p class="course-level text-purple">Kegiatan Sekolah</p>
                            </div>
                            <div class="course-info">
                                <p class="course-time"><i class="fa-solid fa-mosque me-2"></i>Semua Jenjang
                                </p>
                                <a href="/beritaterbaru/kegiatan-ramadhan" class="btn btn-primary">Selengkapnya</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Featured Courses -->

                <!-- Featured Courses -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 d-flex" data-aos="fade-down">
                    <div class="course-item course-item-four mx-0">
                        <div class="course-img">
                            <a href="/beritaterbaru/kunjungan-dinas-pendidikan">
                                <img class="img-fluid" alt="Kunjungan Dinas Pendidikan" src="assets/img/course/course-13.jpg">
                            </a>
                            <div class="position-absolute start-0 top-0 d-flex align-items-start w-100 z-index-2 p-2">
                                <a href="javascript:void(0);" class="course-name">Kunjungan</a>
                            </div>
                        </div>
                        <div class="course-content">	
                            <div class="rating">						
                                <i class="fa-regular fa-calendar me-2"></i>
                                <span>1 Mei 2024</span>
                            </div>										
                            <h3 class="title"><a href="/beritaterbaru/kunjungan-dinas-pendidikan">Kunjungan Dinas Pendidikan dalam Rangka Evaluasi Kurikulum Terpadu</a></h3>
                            <div class="user-info">
                                <p class="user-name"><a href="/kepengurusan"  class="link-info">Kepala Sekolah</a></p>
                                <p class="course-level text-purple">Berita Penting</p>
                            </div>
                            <div class="course-info">
                                <p class="course-time"><i class="fa-solid fa-building-columns me-2"></i>Semua Jenjang</p>
                                <a href="/beritaterbaru/kunjungan-dinas-pendidikan" class="btn btn-primary">Selengkapnya</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Featured Courses -->

                <!-- Featured Courses -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 d-flex" data-aos="fade-down">
                    <div class="course-item course-item-four mx-0">
                        <div class="course-img">
                            <a href="/beritaterbaru/pelatihan-guru">
                                <img class="img-fluid" alt="Pelatihan Guru" src="assets/img/course/course-14.jpg">
                            </a>
                            <div class="position-absolute start-0 top-0 d-flex align-items-start w-100 z-index-2 p-2">
                                <a href="javascript:void(0);" class="course-name">Pelatihan</a>
                            </div>
                        </div>
                        <div class="course-content">	
                            <div class="rating">						
                                <i class="fa-regular fa-calendar me-2"></i>
                                <span>28 April 2024</span>
                            </div>										
                            <h3 class="title"><a href="/beritaterbaru/pelatihan-guru">Pelatihan Pengembangan Kompetensi Guru dalam Pendidikan Islam Modern</a></h3>
                            <div class="user-info">
                                <p class="user-name"><a href="/kepengurusan"  class="link-info">Bidang SDM</a></p>
                                <p class="course-level">Pengembangan Guru</p>
                            </div>
                            <div class="course-info">
                                <p class="course-time"><i class="fa-solid fa-chalkboard-user me-2"></i>Guru & Staff
                                </p>
                                <a href="/beritaterbaru/pelatihan-guru" class="btn btn-primary">Selengkapnya</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Featured Courses -->

                <!-- Featured Courses -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 d-flex" data-aos="fade-down">
                    <div class="course-item course-item-four mx-0">
                        <div class="course-img">
                            <a href="/beritaterbaru/kegiatan-ekstrakurikuler">
                                <img class="img-fluid" alt="Kegiatan Ekstrakurikuler" src="assets/img/course/course-15.jpg">
                            </a>
                            <div class="position-absolute start-0 top-0 d-flex align-items-start w-100 z-index-2 p-2">
                                <a href="javascript:void(0);" class="course-name">Ekstrakurikuler</a>
                            </div>
                        </div>
                        <div class="course-content">	
                            <div class="rating">						
                                <i class="fa-regular fa-calendar me-2"></i>
                                <span>25 April 2024</span>
                            </div>										
                            <h3 class="title"><a href="/beritaterbaru/kegiatan-ekstrakurikuler">Jadwal dan Informasi Kegiatan Ekstrakurikuler Semester Genap 2024</a></h3>
                            <div class="user-info">
                                <p class="user-name"><a href="/kepengurusan"  class="link-info">Bidang Kesiswaan</a></p>
                                <p class="course-level text-pink">Pengembangan Bakat</p>
                            </div>
                            <div class="course-info">
                                <p class="course-time"><i class="fa-solid fa-users me-2"></i>Semua Jenjang
                                </p>
                                <a href="/beritaterbaru/kegiatan-ekstrakurikuler" class="btn btn-primary">Selengkapnya</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Featured Courses -->				

            </div>
        </div>
        <!-- View all  News -->
        <div class="col-lg-12" data-aos="fade-up">
            <div class="more-details text-center">
                <a href="/beritaterbaru" class="btn btn-secondary btn-xl">Lihat Semua Berita </a>
            </div>
        </div>
        <!-- /View all  Courses -->
    </div>
</section>	
<!-- /Feature Course -->

<!-- Master Skills -->
<section class="master-skills-sec pt-0">
    <div class="container">	
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <div class="section-header text-center">
                    <span class="fw-medium text-secondary fs-18 fw-bold mb-2 d-inline-block">What’s New</span>
                    <h2>Master the skills to drive your career</h2>
                    <p>Get certified, master modern tech skills, and level up your career — whether you’re starting out or a seasoned pro. 95% of eLearning learners report.</p>
                </div>
            </div>
        </div>
        <!-- Course Info-->
        <div class="course-info-two">
            <div class="skills-item">
                <div class="skills-wrap">
                    <div class="row row-gap-4 align-items-center">

                        <!-- Master skills Content -->
                        <div class="col-xl-5 col-lg-6 col-md-12 order-lg-0 order-md-0 order-0" data-aos="fade-up">
                            <h3>Award Winning Course Management</h3>
                            <p>An award-winning course management system (CMS) or program is typically recognized for its exceptional quality, innovation, and effectiveness in helping both instructors and students succeed.</p>
                            
                            <ul class="list-unstyled heading-color mb-4">
                                <li class="d-flex mb-3">
                                    <i class="isax isax-tick-circle5 text-success fs-24 me-2"></i>Interactive Tools for Engagement
                                </li>
                                <li class="d-flex mb-3">
                                    <i class="isax isax-tick-circle5 text-success fs-24 me-2"></i>Customizable Course Creation
                                </li>
                                <li class="d-flex mb-3 aos-init aos-animate">
                                    <i class="isax isax-tick-circle5 text-success fs-24 me-2"></i>Robust Analytics and Reporting
                                </li>
                                <li class="d-flex mb-3 aos-init aos-animate">
                                    <i class="isax isax-tick-circle5 text-success fs-24 me-2"></i>Collaborative and Peer to Peer Learning
                                </li>
                                <li class="d-flex mb-3 aos-init aos-animate">
                                    <i class="isax isax-tick-circle5 text-success fs-24 me-2"></i>The Most World Class Instructors
                                </li>
                            </ul>
                        </div>
                        <!-- /Master skills Content -->
                        
                        <!-- Master skills Image -->
                        <div class="col-xl-7 col-lg-6 col-md-12 order-lg-1 order-md-1 order-1" data-aos="fade-up">
                            <div class="join-mentor-img">
                                <img src="assets/img/feature/feature-18.jpg" alt="Img" class="img-fluid rounded-4">								
                                <div class="joing-icon-award bg-warning">
                                    <img src="assets/img/icons/award-01.svg" alt="Img" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <!-- /Master skills Image -->
                    </div>

                </div>
            </div>

            <div class="skills-item">
                <div class="skills-wrap skill-center">

                    <div class="row  row-gap-4 align-items-center">
                        <!-- Master skills Content -->
                        <div class="col-xl-7 col-lg-7 col-md-12 order-lg-2 order-md-3 order-3" data-aos="fade-up">
                            <div class="join-mentor-img">
                                <img src="assets/img/feature/feature-19.jpg" alt="Img" class="img-fluid rounded-4">								
                                <div class="joing-icon-award bg-success">
                                    <img src="assets/img/icons/award-02.svg" alt="Img" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <!-- /Master skills Content -->
                        
                        <!-- Master skills Image -->
                        <div class="col-xl-5 col-lg-5 col-md-12 order-lg-3 order-md-2 order-2" data-aos="fade-up"> 
                            <h3>Learn anything from anywhere anytime</h3>
                            <p>In today’s fast-paced, digital world, the ability to learn anything, from anywhere, and at any time is more accessible than ever. Whether you are looking to expand your knowledge, gain new skills.</p>
                            <ul class="list-unstyled heading-color mb-4">
                                <li class="d-flex mb-3">
                                    <i class="isax isax-tick-circle5 text-success fs-24 me-2"></i>Access to a World of Knowledge
                                </li>
                                <li class="d-flex mb-3">
                                    <i class="isax isax-tick-circle5 text-success fs-24 me-2"></i>Diverse Learning Formats
                                </li>
                                <li class="d-flex mb-3 aos-init">
                                    <i class="isax isax-tick-circle5 text-success fs-24 me-2"></i>Learn at Your Own Pace
                                </li>
                                <li class="d-flex mb-3 aos-init">
                                    <i class="isax isax-tick-circle5 text-success fs-24 me-2"></i>Affordable and Flexible Pricing
                                </li>
                                <li class="d-flex mb-3 aos-init">
                                    <i class="isax isax-tick-circle5 text-success fs-24 me-2"></i>The Most World Class Instructors
                                </li>
                            </ul>
                        </div>
                        <!-- /Master skills Image -->
                    </div>
                </div>
            </div>

            <div class="skills-item">
                <div class="skills-wrap">

                    <div class="row row-gap-4 align-items-center">

                        <!-- Master skills Content -->
                        <div class="col-xl-5 col-lg-7 col-md-12 order-lg-4 order-md-4 order-4" data-aos="fade-up"> 
                            <h3>Certification for solid development of your Career</h3>
                            <p>Certifications are a powerful way to enhance your skills, build credibility, and boost your career growth. In today’s competitive job market, a professional certification</p>
                            <ul class="list-unstyled heading-color mb-4">
                                <li class="d-flex mb-3">
                                    <i class="isax isax-tick-circle5 text-success fs-24 me-2"></i>Demonstrates Expertise
                                </li>
                                <li class="d-flex mb-3">
                                    <i class="isax isax-tick-circle5 text-success fs-24 me-2"></i>Boosts Your Credibility
                                </li>
                                <li class="d-flex mb-3 aos-init">
                                    <i class="isax isax-tick-circle5 text-success fs-24 me-2"></i>Improves Job Security
                                </li>
                                <li class="d-flex mb-3 aos-init">
                                    <i class="isax isax-tick-circle5 text-success fs-24 me-2"></i>Facilitates Career Advancement
                                </li>
                                <li class="d-flex mb-3 aos-init">
                                    <i class="isax isax-tick-circle5 text-success fs-24 me-2"></i>Fosters Personal Growth
                                </li>
                            </ul>
                        </div>
                        <!-- /Master skills Content -->
                        
                        <!-- Master skills Image -->
                        <div class="col-xl-7 col-lg-5 col-md-12 order-lg-5 order-md-5 order-5" data-aos="fade-up"> 
                            <div class="join-mentor-img">
                                <img src="assets/img/feature/feature-20.jpg" alt="Img" class="img-fluid rounded-4">								
                                <div class="joing-icon-award bg-secondary">
                                    <img src="assets/img/icons/award-03.svg" alt="Img" class="img-fluid">
                                </div>
                            </div>
                        </div>								
                        <!-- /Master skills Image -->

                    </div>

                </div>
            </div>
        </div>
        <!-- /Course Info -->
    </div>
</section>
<!-- /Master Skills -->

<!-- Testimonial -->
<section class="testimonial-sec">
    <div class="container">
        <div class="testimonial-two-img">
            <img src="assets/img/bg/bg-14.png" alt="Img" class="img-fluid">
        </div>
        <div class="testimonial-subhead-two">
            <div class="col-md-12" data-aos="fade-down">						
                <div class="testimonial-inner">						
                    <div class="section-header text-center">
                        <h2 data-aos="fade-down">Join over 5 Million Students</h2>
                        <p>Get certified, master modern tech skills, and level up your career </p>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-4 col-sm-12" data-aos="fade-up">
                            <div class="course-count-two course-count border">
                                <h4><span class="counterUp text-secondary">253,085</span></h4>
                                <p>Students Enrolled</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12" data-aos="fade-up">
                            <div class="course-count-two  course-count border">
                                <h4><span class="counterUp text-success">1,205</span></h4>
                                <p>Total Courses</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12" data-aos="fade-up">
                            <div class="course-count-two  course-count border">
                                <h4><span class="counterUp text-primary" >253,085</span></h4>
                                <p>Students Worldwide</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Testimonial -->

<!-- Share your knowledge -->
<div class="knowledge-sec">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-12 ps-0">
                <div class="featured-img-1"></div>
            </div>
            <div class="col-lg-6 col-sm-12 p-0" data-aos="fade-up">
                <div class="joing-group">
                    <div class="section-header">
                        <h2 class="mb-2">Want to share your knowledge? Join us a Mentor</h2>
                    </div>
                    <div class="joing-list">
                        <ul>
                            <li data-aos="fade-bottom">
                                <div class="joing-header">
                                    <span class="joing-icon bg-primary">
                                        <img src="assets/img/icons/joing-01.svg" alt="Img" class="img-fluid">
                                    </span>
                                    <div class="joing-content">
                                        <h5 class="title">Project Management Professional</h5>														
                                        <p>A globally recognized certification for project managers, PMP validates your ability to lead projects efficiently from start to finish. </p>
                                    </div>
                                </div>
                            </li>
                            <li data-aos="fade-bottom">
                                <div class="joing-header">
                                    <span class="joing-icon bg-warning">
                                        <img src="assets/img/icons/joing-02.svg" alt="Img" class="img-fluid">
                                    </span>
                                    <div class="joing-content">
                                        <h5 class="title">Fosters Personal Growth</h5>
                                        <p>Pursuing certifications pushes you to learn new things and grow professionally, increasing your confidence and job satisfaction.</p>
                                    </div>
                                </div>
                            </li>
                            <li data-aos="fade-bottom">
                                <div class="joing-header">
                                    <span class="joing-icon bg-success">
                                        <img src="assets/img/icons/joing-03.svg" alt="Img" class="img-fluid">
                                    </span>
                                    <div class="joing-content aos">
                                        <h5 class="title">Build skills your way, from labs to courses</h5>
                                        <p>Courses come in various formats, including video tutorials, interactive assignments, quizzes, reading materials, and hands-on projects</p>
                                    </div>
                                </div>
                            </li>
                            <li data-aos="fade-bottom" class="mb-0">
                                <div class="joing-header">
                                    <span class="joing-icon bg-secondary">
                                        <img src="assets/img/icons/joing-04.svg" alt="Img" class="img-fluid">
                                    </span>
                                    <div class="joing-content aos">
                                        <h5 class="title">Get certified with 100+ certification courses</h5>
                                        <p>Employers often value certifications when it comes to promotions and internal career advancement opportunities.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Share your knowledge -->

<!-- Feature Instructors -->
<div class="feature-instructors-sec">
    <div class="container">
        <div class="section-header text-center" data-aos="fade-up">
            <span class="fw-medium text-secondary fs-18 fw-bold mb-2 d-inline-block">New Courses</span>
            <h2>Featured Instructor</h2>
            <p>95% of eLearning learners report our hands-on content directly helped their careers.</p>
        </div>
        <!-- Featured Instructor -->
        <div class="featured-instructor-two">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12" data-aos="fade-up">
                    <div class="instructor-item instructor-item-four">
                        <div class="instructors-img ">
                            <a href="instructor-list.html" tabindex="0">
                                <img class="img-fluid" alt="Img" src="assets/img/instructor/instructor-01.jpg">
                            </a>
                            <div class="position-absolute start-0 top-0 d-flex align-items-start w-100 z-index-2 p-2">
                                <div class="featured-img">
                                    <img src="assets/img/icons/category-1.svg" alt="Img" class="img-fluid">
                                </div>
                                <a href="javascript:void(0);" class="favourite ms-auto">
                                    <i class="isax isax-heart"></i>
                                </a>
                            </div>
                        </div>
                        <div class="instructor-content">
                            <h5 class="title">
                                <a href="instructor-details.html">Julian Adrose</a>
                            </h5>
                            <span class="designation">Angular Expert</span>
                            <div class="student-count">
                                <i class="fa-solid fa-user-group me-2"></i><span>50 Students</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12" data-aos="fade-up">
                    <div class="instructor-item instructor-item-four">
                        <div class="instructors-img ">
                            <a href="instructor-list.html" tabindex="0">
                                <img class="img-fluid" alt="Img" src="assets/img/instructor/instructor-02.jpg">
                            </a>
                            <div class="position-absolute start-0 top-0 d-flex align-items-start w-100 z-index-2 p-2">
                                <div class="featured-img">
                                    <img src="assets/img/icons/category-2.svg" alt="Img" class="img-fluid">
                                </div>
                                <a href="javascript:void(0);" class="favourite ms-auto">
                                    <i class="isax isax-heart"></i>
                                </a>
                            </div>
                        </div>
                        <div class="instructor-content">
                            <h5 class="title">
                                <a href="instructor-details.html">Gallegos</a>
                            </h5>
                            <span class="designation">Angular Expert</span>
                            <div class="student-count">
                                <i class="fa-solid fa-user-group me-2"></i><span>70 Students</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12" data-aos="fade-up">
                    <div class="instructor-item instructor-item-four">
                        <div class="instructors-img ">
                            <a href="instructor-list.html" tabindex="0">
                                <img class="img-fluid" alt="Img" src="assets/img/instructor/instructor-03.jpg">
                            </a>
                            <div class="position-absolute start-0 top-0 d-flex align-items-start w-100 z-index-2 p-2">
                                <div class="featured-img">
                                    <img src="assets/img/icons/category-3.svg" alt="Img" class="img-fluid">
                                </div>
                                <a href="javascript:void(0);" class="favourite ms-auto">
                                    <i class="isax isax-heart"></i>
                                </a>
                            </div>
                        </div>
                        <div class="instructor-content">
                            <h5 class="title">
                                <a href="instructor-details.html">Kristi</a>
                            </h5>
                            <span class="designation">Node Js</span>
                            <div class="student-count">
                                <i class="fa-solid fa-user-group me-2"></i><span>60 Students</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12" data-aos="fade-up">
                    <div class="instructor-item instructor-item-four">
                        <div class="instructors-img ">
                            <a href="instructor-list.html" tabindex="0">
                                <img class="img-fluid" alt="Img" src="assets/img/instructor/instructor-04.jpg">
                            </a>
                            <div class="position-absolute start-0 top-0 d-flex align-items-start w-100 z-index-2 p-2">
                                <div class="featured-img">
                                    <img src="assets/img/icons/category-4.svg" alt="Img" class="img-fluid">
                                </div>
                                <a href="javascript:void(0);" class="favourite ms-auto">
                                    <i class="isax isax-heart"></i>
                                </a>
                            </div>
                        </div>
                        <div class="instructor-content">
                            <h5 class="title">
                                <a href="instructor-details.html">Pinero</a>
                            </h5>
                            <span class="designation">Python</span>
                            <div class="student-count">
                                <i class="fa-solid fa-user-group me-2"></i><span>40 Students</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Featured Instructor -->
        
        <!-- View all Category -->
        <div class="col-lg-12">
            <div class="more-details text-center" data-aos="fade-up">
                <a href="instructor-list.html" class="btn btn-secondary btn-xl">View all Instructors</a>
            </div>
        </div>
        <!-- /View all Category -->
    </div>
</div>
<!-- /Feature Instructors -->	

<!-- Leading Companies -->
<section class="real-reviews-sec">
    <div class="container">
        <div class="section-header text-center" data-aos="fade-up">
            <span class="fw-medium text-secondary fs-18 fw-bold mb-2 d-inline-block">Check out these real reviews</span>
            <h2>Users love us Don't take it from us</h2>
            <p>95% of eLearning learners report our hands-on content directly helped their careers.</p>
        </div>
        <div class="real-reviews-group">						
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-sm-12"  data-aos="fade-up">
                    <div class="reviews-img">
                        <img src="assets/img/feature/feature-21.jpg" alt="Img" class="img-fluid rounded-4">
                        <span class="review-icon">
                            <img src="assets/img/icons/review.svg" alt="img">
                        </span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-md-12"  data-aos="fade-up">
                    <div class="owl-carousel real-reviews owl-theme">
                        <div class="item">
                            <div class="real-reviews-grid">
                                <div class="review-content">
                                    <h3>Helps us to improve our productivity</h3>
                                    <p>High-definition video is video of higher resolution and quality than standard-definition. While there is no standardized meaning for high-definition, generally any video.High-definition video is video of higher resolution and quality than standard-definition. While there is no standardized meaning for high-definition, generally any video.High-definition video is video of higher resolution and quality than standard-definition.</p>
                                </div>
                                <div class="review-top">
                                    <div class="review-info">
                                        <h5 data-aos="fade-up">William George</h5>
                                        <h6 data-aos="fade-up">CEO & Chairman</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="real-reviews-grid">
                                <div class="review-content">
                                    <h3>Helps us to improve our productivity</h3>
                                    <p>High-definition video is video of higher resolution and quality than standard-definition. While there is no standardized meaning for high-definition, generally any video.High-definition video is video of higher resolution and quality than standard-definition. While there is no standardized meaning for high-definition, generally any video.</p>
                                </div>
                                <div class="review-top">
                                    <div class="review-info">
                                        <h5 data-aos="fade-up">Julian Adrose</h5>
                                        <h6 data-aos="fade-up">Manager</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="owl-nav slide-nav-8 nav-control"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="client-two-carousel">
            <div class="lead-group-slider owl-carousel owl-theme">
                <div class="item">
                    <div class="lead-img">
                        <img class="img-fluid" alt="img" src="assets/img/client/16.svg">
                    </div>
                </div>
                <div class="item">
                    <div class="lead-img">
                        <img class="img-fluid" alt="img" src="assets/img/client/17.svg">
                    </div>
                </div>
                <div class="item">
                    <div class="lead-img">
                        <img class="img-fluid" alt="img" src="assets/img/client/18.svg">
                    </div>
                </div>
                <div class="item">
                    <div class="lead-img">
                        <img class="img-fluid" alt="img" src="assets/img/client/19.svg">
                    </div>
                </div>
                <div class="item">
                    <div class="lead-img">
                        <img class="img-fluid" alt="img" src="assets/img/client/20.svg">
                    </div>
                </div>
                <div class="item">
                    <div class="lead-img">
                        <img class="img-fluid" alt="img" src="assets/img/client/21.svg">
                    </div>
                </div>							
            </div>
        </div>
    </div>
    <img src="assets/img/bg/bg-9.png" alt="img" class="review-bg">
</section>
<!-- /Leading Companies -->

<!-- Latest Blog -->
<section class="latest-blog-sec">
    <div class="container">
        <div class="section-header text-center" data-aos="fade-up">
            <span class="fw-medium text-secondary fs-18 fw-bold mb-2 d-inline-block">News & Events</span>
            <h2>Our Latest Updates</h2>
            <p>Dont Miss Stay Updated with the Latest Articles and Insights</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-down">	
                <div class="event-blog-main">
                    <div class="latest-blog-img">
                        <a href="blog-details.html">
                            <img class="img-fluid" alt="Img" src="assets/img/blog/blog-31.jpg">
                        </a>
                    </div>
                    <div class="blog-content">
                        <a href="blog-details.html" class="category-name">LMS</a>
                        <h4 class="title"><a href="blog-details.html">Promoting Health & Well being in Schools</a></h4>
                        <p class="blog-date"><i class="isax isax-calendar-1 me-1"></i>14 Sep 2022</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-down">	
                <div class="event-blog-main">
                    <div class="latest-blog-img">
                        <a href="blog-details.html">
                            <img class="img-fluid" alt="Img" src="assets/img/blog/blog-32.jpg">
                        </a>
                    </div>
                    <div class="blog-content">
                        <a href="blog-details.html" class="category-name">Sales</a>
                        <h4 class="title"><a href="blog-grid.html">Why an LMS is Essential for Modern Education</a></h4>
                        <p class="blog-date"><i class="isax isax-calendar-1 me-1"></i>14 Sep 2022</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-down">	
                <div class="event-blog-main">
                    <div class="latest-blog-img">
                        <a href="blog-details.html">
                            <img class="img-fluid" alt="Img" src="assets/img/blog/blog-33.jpg">
                        </a>
                    </div>
                    <div class="blog-content">
                        <a href="blog-details.html" class="category-name">Website Design</a>
                        <h4 class="title"><a href="blog-details.html">11 Tips to Help You Get New Clients with the design</a></h4>
                        <p class="blog-date"><i class="isax isax-calendar-1 me-1"></i>14 Sep 2022</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- View all  Events -->
        <div class="col-lg-12">
            <div class="more-details text-center" data-aos="fade-down">
                <a href="blog-grid.html" class="btn btn-secondary btn-xl">View all Updates</a>
            </div>
        </div>
        <!-- /View all  Events -->
    </div>
    <img src="assets/img/bg/blog-bg.png" alt="img" class="blog-bg">
</section>	
<!-- /Latest Blog -->