<footer class="footer">
    <div class="footer-bg">
        <img src="/assets/img/bg/footer-bg-01.png" class="footer-bg-1" alt="">
<img src="/assets/img/bg/footer-bg-02.png" class="footer-bg-2" alt="">
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="row row-gap-4">
                <div class="col-lg-4">
                    <div class="footer-about">
                        <div class="footer-logo">
                            <a class="logo-white header-logo d-flex align-items-center" href="/" style="text-decoration: none;">
                                <img src="/assets/img/logo.png" class="logo img-fluid" alt="Logo" style="max-width: 50px; height: auto;">
                              
                                <div class="ms-2">
                                  <div style="font-weight: bold; font-size: 16px; color: #fff;">Baitul Jannah Islamic School</div>
                                  <div style="font-size: 14px; color: #fff;">Sekolahnya Para Juara</div>
                                </div>
                              </a>
                        </div>
                        <p>Lembaga pendidikan Islam terpadu yang mengintegrasikan kurikulum nasional dengan nilai-nilai Islam untuk membentuk generasi Qurani yang berakhlak mulia.</p>
                        <div class="social-icon">
                            <a href="#" class="me-2"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="me-2"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="me-2"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row row-gap-4">
                        <div class="col-lg-3">
                            <div class="footer-widget footer-menu">
                                <h5 class="footer-title">Tentang Kami</h5>
                                <ul>
                                    <li><a href="/sejarahyayasan">Sejarah</a></li>
                                    <li><a href="/visimisi">Visi dan Misi</a></li>
                                    <li><a href="/kepengurusan">Kepengurusan</a></li>
                                    <li><a href="/fasilitas">Fasilitas</a></li>
                                    <li><a href="/kontak">Kontak Kami</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="footer-widget footer-menu">
                                <h5 class="footer-title">Informasi</h5>
                                <ul>
                                    <li><a href="/beritaterbaru">Berita Terbaru</a></li>
                                    <li><a href="/prestasi">Prestasi</a></li>
                                    <li><a href="/agendasekolah">Agenda Sekolah</a></li>
                                    <li><a href="/ebuletin">E-Buletin</a></li>
                                    <li><a href="/galeri">Galeri dan Foto</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="footer-widget footer-contact">
                                <h5 class="footer-title">Berlangganan Berita</h5>
                                <div class="subscribe-input">
                                    <form action="javascript:void(0);">
                                        <input type="email" class="form-control" placeholder="Masukkan Alamat Email Anda">
                                        <button type="submit" class="btn btn-primary btn-sm inline-flex align-items-center"><i class="fas fa-paper-plane me-1"></i>Berlangganan</button>
                                    </form>
                                </div>
                                <div class="footer-contact-info">
                                    <div class="footer-address d-flex align-items-center">
                                        <img src="/assets/img/icon/icon-20.svg" alt="Img" class="img-fluid me-2">
                                        <p> Jl. Pramuka No.43, Kemiling Raya, Kec. Kemiling, Kota Bandar Lampung, <br>Lampung 35153 </p>
                                    </div>
                                    <div class="footer-address d-flex align-items-center">
                                        <img src="/assets/img/icon/icon-19.svg" alt="Img" class="img-fluid me-2">
                                        <p> baituljannahbandarlampung@gmail.com</p>
                                    </div>
                                    <div class="footer-address d-flex align-items-center">
                                        <img src="/assets/img/icon/icon-21.svg" alt="Img" class="img-fluid me-2">
                                        <p>(0721) 273781
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>	
    <div class="footer-bottom">
        <div class="container">
            <div class="row row-gap-2">
                <div class="col-md-6">
                    <div class="text-center text-md-start">
                        <p class="text-white">Copyright &copy; 2024 Baitul Jannah Islamic School. All rights reserved.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <ul class="d-flex align-items-center justify-content-center justify-content-md-end footer-link">
                            <li><a href="/syaratpendaftaran">Syarat Pendaftaran</a></li>
                            <li><a href="/faq">FAQ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->

