<header class="header-four">
	<div class="container">
		<div class="header-nav">
			<div class="navbar-header">
				<a id="mobile_btn" href="javascript:void(0);">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</a>
				<div class="navbar-logo">
					<a class="logo-white header-logo d-flex align-items-center" href="/" style="text-decoration: none;">
						<img src="/assets/img/logo.png" class="logo img-fluid" alt="Logo" style="max-width: 50px; height: auto;">
					  
						<div class="ms-2">
						  <div style="font-weight: bold; font-size: 16px; color: #000;">Baitul Jannah Islamic School</div>
						  <div style="font-size: 14px; color: #000;">Sekolahnya Para Juara</div>
						</div>
					  </a>
					  
					<a class="logo-dark header-logo" href="/">
						<img src="/assets/img/logo.png" class="logo img-fluid" alt="Logo" style="max-width: 50px; height: auto;">

					</a>
				</div>
			</div>
			<div class="main-menu-wrapper">								
				<div class="menu-header">
					<a href="/" class="menu-logo">
						<img src="/assets/img/logo.png" class="logo img-fluid" alt="Logo" style="max-width: 50px; height: auto;">
					</a>
					<a id="menu_close" class="menu-close" href="javascript:void(0);">
						<i class="fas fa-times"></i>
					</a>
				</div>
				<ul class="main-nav">
					<li>
						<a href="/">Beranda</a>
					</li>
					<li class="has-submenu">
						<a href="#">Tentang Kami <i class="fas fa-chevron-down"></i></a>
						<ul class="submenu">
							<li><a href="/sejarahyayasan">Sejarah</a></li>
							<li><a href="/visimisi">Visi dan Misi</a></li>
							<li><a href="/kepengurusan">Kepengurusan </a></li>
							<li><a href="/fasilitas">Fasilitas </a></li>
						</ul>
					</li>

					<li class="has-submenu">
						<a href="javascript:void(0);">Pendaftaran SPMB <i class="fas fa-chevron-down"></i></a>
						<ul class="submenu">
							<li><a href="/daftarspmb">Daftar SPMB</a></li>
							<li><a href="/syaratpendaftaran">Syarat Pendaftaran</a></li>
							<li><a href="/pengumuman">Pengumuman</a></li>
						</ul>
					</li>
					<li class="has-submenu">
						<a href="javascript:void(0);">Profile <i class="fas fa-chevron-down"></i></a>
						<ul class="submenu">
							<li><a href="/pgit-tkit">PGIT-TKIT</a></li>
							<li><a href="/sdit">SDIT</a></li>
							<li><a href="/smpit">SMPIT</a></li>
							<li><a href="/smait">SMAIT</a></li>
							<li><a href="/slbit">SLBIT</a></li>
						</ul>
					</li>
					<li class="has-submenu">
						<a href="javascript:void(0);">Informasi <i class="fas fa-chevron-down"></i></a>
						<ul class="submenu">
							<li><a href="/beritaterbaru">Berita Terbaru</a></li>
							<li><a href="/prestasi">Prestasi</a></li>
							<li><a href="/agendasekolah">Agenda Sekolah</a></li>
							<li><a href="/ebuletin">E-Buletin</a></li>
							<li><a href="/galeri">Galeri dan Foto</a></li>
						</ul>
					</li>
					<li class="has-submenu">
						<a href="javascript:void(0);">Kontak <i class="fas fa-chevron-down"></i></a>
						<ul class="submenu">
							<li><a href="/kontak">Kontak Kami</a></li>
							<li><a href="/permohonankunjungan">Permohonan Kunjungan</a></li>
							<li><a href="/permohonanpenelitian">Permohonan Penelitian</a></li>
							<li><a href="/faq">F&Q</a></li>
						</ul>
					</li>
				</ul>
				
				
				
			</div>
			
		</div>
	</div>
</header>