<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= description %>">
    
    <title><%= title %></title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/img/logo.png">
    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">

    <!-- Theme Settings Js -->
    <script src="assets/js/theme-script.js" type="text/javascript"></script>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <!-- Header -->
        <%- include('../partials/header2') %>
        
        <!-- Breadcrumb -->
        <div class="breadcrumb-bar">
            <div class="container">
                <div class="row align-items-center text-center">
                    <div class="col-md-12 col-12">
                        <h2 class="breadcrumb-title">Alumni</h2>
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Beranda</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Alumni</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Page Content -->
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="about-title">
                                            <h2>Alumni Baitul Jannah Islamic School</h2>
                                        </div>
                                        <div class="about-content">
                                            <p class="mb-4">Alumni Baitul Jannah Islamic School adalah bagian penting dari komunitas sekolah kami. Mereka adalah duta sekolah yang membawa nilai-nilai dan pembelajaran yang diperoleh di Baitul Jannah Islamic School ke masyarakat luas. Kami bangga dengan prestasi dan kontribusi alumni kami dalam berbagai bidang kehidupan.</p>
                                        </div>
                                        
                                        <div class="about-title mt-5">
                                            <h2>Jejaring Alumni</h2>
                                        </div>
                                        <div class="about-content">
                                            <p class="mb-4">Baitul Jannah Islamic School memiliki jejaring alumni yang kuat dan aktif. Jejaring ini bertujuan untuk:</p>
                                            <ol class="mb-4">
                                                <li class="mb-3">Memfasilitasi komunikasi dan kolaborasi antar alumni.</li>
                                                <li class="mb-3">Memberikan dukungan bagi pengembangan karir dan profesional alumni.</li>
                                                <li class="mb-3">Melibatkan alumni dalam pengembangan program sekolah.</li>
                                                <li class="mb-3">Menginspirasi siswa saat ini melalui pengalaman dan pencapaian alumni.</li>
                                                <li class="mb-3">Memperkuat identitas dan kebanggaan sebagai bagian dari keluarga besar Baitul Jannah Islamic School.</li>
                                            </ol>
                                        </div>
                                        
                                        <div class="about-title mt-5">
                                            <h2>Program Alumni</h2>
                                        </div>
                                        <div class="about-content">
                                            <ol class="mb-4">
                                                <li class="mb-3">Reuni Tahunan: Acara tahunan untuk mempertemukan alumni dari berbagai angkatan.</li>
                                                <li class="mb-3">Mentorship Program: Program di mana alumni berbagi pengalaman dan memberikan bimbingan kepada siswa saat ini.</li>
                                                <li class="mb-3">Career Day: Acara di mana alumni berbagi pengalaman karir mereka dengan siswa.</li>
                                                <li class="mb-3">Alumni Talk Series: Seri diskusi dan seminar yang dipimpin oleh alumni tentang berbagai topik.</li>
                                                <li class="mb-3">Alumni Scholarship Fund: Dana beasiswa yang didukung oleh alumni untuk siswa berprestasi.</li>
                                                <li class="mb-3">Community Service Projects: Proyek layanan masyarakat yang melibatkan alumni dan siswa saat ini.</li>
                                            </ol>
                                        </div>
                                        
                                        <div class="about-title mt-5">
                                            <h2>Prestasi Alumni</h2>
                                        </div>
                                        <div class="about-content">
                                            <p class="mb-4">Alumni Baitul Jannah Islamic School telah mencapai kesuksesan di berbagai bidang, termasuk:</p>
                                            <ul class="mb-4">
                                                <li class="mb-2">Pendidikan: Melanjutkan studi di universitas terkemuka di dalam dan luar negeri.</li>
                                                <li class="mb-2">Bisnis dan Kewirausahaan: Mendirikan dan mengembangkan usaha yang sukses.</li>
                                                <li class="mb-2">Sains dan Teknologi: Berkontribusi dalam penelitian dan inovasi.</li>
                                                <li class="mb-2">Seni dan Budaya: Berkarya dalam bidang seni dan melestarikan budaya.</li>
                                                <li class="mb-2">Sosial dan Kemanusiaan: Aktif dalam kegiatan sosial dan kemanusiaan.</li>
                                                <li class="mb-2">Kepemimpinan: Menjadi pemimpin di berbagai organisasi dan institusi.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Footer -->
        <%- include('../partials/footer') %>
    </div>
    
    <!-- jQuery -->
    <script src="assets/js/jquery-3.7.1.min.js" type="text/javascript"></script>

    <!-- Bootstrap Core JS -->
    <script src="assets/js/bootstrap.bundle.min.js" type="text/javascript"></script>

    <!-- Custom JS -->
    <script src="assets/js/script.js" type="text/javascript"></script>
</body>
</html>