<%- include('../../partials/admin-header') %>
<%- include('../../partials/admin-sidebar') %>

<div class="col-lg-9">
    <div class="mb-3">
        <h5>Kontak Kami</h5>
    </div>
    <ul class="settings-nav d-flex align-items-center flex-wrap border bg-light-900 rounded">
        <li><a href="/admin/kontak/kami" class="active">Kontak Kami</a></li>
        <li><a href="/admin/kontak/kunjungan">Permohonan Kunjungan</a></li>
        <li><a href="/admin/kontak/penelitian">Permohonan Penelitian</a></li>
        <li><a href="/admin/kontak/faq">FAQ</a></li>
    </ul>
    <div class="card">
        <div class="card-body">
            <!-- Form kontak dan daftar pesan -->
        </div>
    </div>
</div>